  <!-- ヘッダー -->
  <header class="l-header">
    <!-- ヘッダーロゴ -->
    <a href="<%= pageId === 'top' ? '#' : baseUrl %>" class="l-header__logo">
      <img src="<%= imgUrl %>header_logo.svg" alt="DIGSMAILE INC.">
    </a>
    
    <!-- メニューボタン -->
    <button type="button" class="p-menuButton js-menuButton">
        <div class="p-menuButton__trigger">
          <span class="p-menuButton__trigger__bar"></span>
          <span class="p-menuButton__trigger__bar"></span>
          <span class="p-menuButton__trigger__bar"></span>
        </div>
        <span class="p-menuButton__title">MENU</span>
    </button>

    <!-- メニューナビゲーション -->
    <div class="p-menu u-state__close js-menu">

      <div class="p-menu__bg"></div>

      <div class="p-menu__wrap">
        <nav class="p-menu__wrap__nav">
          <a href="<%= pageId === 'top' ? '#' : baseUrl %>"><img class="p-menu__wrap__nav__logo" src="<%= imgUrl %>menu_logo.png" alt="DIGSMAILE INC."></a>

          <ul class="p-menu__wrap__nav__list">
            <%- include('../_modules/_menuList.ejs') %>
          </ul>
        </nav>
      </div>
    </div>
  </header>