  <!-- ヘッダー -->
  <header class="l-header">
    <!-- ヘッダーロゴ -->

    <div class="l-header__logo">
      <a href="<%= pageId === 'top' ? '#' : baseUrl %>">
        <img src="<%= imgUrl %>common/header_logo.svg" alt="DIGSMAILE INC.">
      </a>
    </div>
    
    <!-- メニューボタン -->
    <div class="p-menuButton u-pointer js-menuButton">
      <button type="button" class="p-menuButton__trigger">
        <span class="p-menuButton__trigger__bar"></span>
        <span class="p-menuButton__trigger__bar"></span>
        <span class="p-menuButton__trigger__bar"></span>
      </button>
      <span class="p-menuButton__title">MENU</span>
    </div>

    <!-- メニューナビゲーション -->
    <div class="p-menu is-close js-menu">
      <div class="p-menu__bg"></div>
      <div class="p-menu__wrap">
        <nav class="p-menu__wrap__nav">

          <div class="p-menu__wrap__nav__logo">
            <a href="<%= pageId === 'top' ? '#' : baseUrl %>">
              <img src="<%= imgUrl %>common/menu_logo.png" alt="DIGSMAILE INC.">
            </a>
          </div>

          <ul class="p-menu__wrap__nav__list">
            <%- include('../_modules/_menuList.ejs') %>
          </ul>
        </nav>
      </div>
    </div>
  </header>